.contact-outer-wrapper {
  background-color: white;
  border-radius: 16px;
  padding: 5px;
  max-width: 1000px;
  margin: 60px auto;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);

}


.contact-wrapper {
  display: flex;
  /* justify-content: space-between; */
  margin: 30px auto;
  max-width: 1100px;
  /* align-items: stretch; */
}

.contact-info {
  width: 40%;
  background-color: #00AFEE;
  color: white;
  padding: 10px;
  border-radius: 12px;
    max-height: 400px;
}

.contact-info h2 {
  font-size: 24px;
  margin-bottom: 16px;
}

.contact-info p {
  margin: 8px 0;
  font-size: 16px;
}

.social-links {
  margin-top: 40%;
}

.social-links a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}

.contact-form-container {
  width: 60%;
  background-color: #ffffff;
  padding: 10px;
  /* border-radius: 12px; */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
  max-height: 900px;
}

.contact-form-container h2 {
  font-size: 24px;
  
}

.input-group {
  margin-bottom: 10px;
}

.input-group label {
  font-size: 16px;

  display: block;
    color: #333; 
}

.input-line {
  position: relative;
}

.input-line input,
.input-line textarea {
  /* width: 100%; */
  padding: 12px;
  border: none;
  border-bottom: 2px solid #ccc;
  font-size: 16px;
  outline: none;
  background-color: #fff;  /* 
  color: #333;  /* Set text color to dark grey for readability */
}

.input-line textarea {
  /* height: 120px; */
  resize: none;
}

.input-line input:focus,
.input-line textarea:focus {
  border-bottom: 2px solid #0066cc;
  background-color: #fff;  /* Set white background color on focus */
}

.contact-options {
  display: flex;
  justify-content: space-between;
  margin-bottom: 14px;
}

.contact-options label {
  font-size: 16px;
}

.privacy-policy {
  font-size: 14px;
  margin-bottom: 20px;
  color: #000;
}

.privacy-policy a {
  color: #0066cc;
  text-decoration: none;
}

button {
  background-color: #0066cc;
  color: white;
  border: none;
  padding: 14px;
  width: fit-content;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #005bb5;
}

.status {
  margin-top: 10px;
  text-align: center;
  color: green;
  font-weight: bold;
}
.input-row {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-bottom: 10px;
}

.input-row .input-group {
  flex: 1;
}

.full-width {
  width: 100%;
}
